{
  "extends": [
    "eslint-config-egg/react"
  ],
  "env": {
    "jest": true
  },
    "rules": {
    "react/jsx-no-bind": 0,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/no-array-index-key": 0,
    "react/no-danger": 0,
    "react/prop-types": 0,
    "react/no-multi-comp": 0,
    "no-use-before-define": 0,
    "react/prefer-stateless-function": 0,
    "space-before-function-paren": "warn",
    "no-restricted-syntax": 0,
    "max-len": [0, 200],
    "valid-jsdoc": [0],
    "arrow-parens": [0],
    "react/jsx-indent": [1],
    "jsx-a11y/anchor-is-valid": [0],
    "array-bracket-spacing": [0],
    "no-multi-spaces": [0],
    "newline-per-chained-call": [0],
    "react/jsx-wrap-multilines": [0],
    "indent": [0],
    "comma-dangle": ["error", "always-multiline"],
    "guard-for-in": 0,
    "class-methods-use-this": [0],
    "no-bitwise": 0
  }
}
